.container,#root
{
  height : 100%;
}
body
{
  margin : 0;
  height : 100vh;
  background-color : #f6f6f6;
  font-family: 'Lato';
  box-sizing: border-box;
}
/* styling for navbar and dashboard */
.navbar
{
  height : 50px;
  background-color: coral;
  display : flex;
  justify-content: space-between;
  font-size: 1.3em;
}
.page-name
{
  padding : 9px 0 0 9px;
  color : black;
}

.nav-links
{
  padding : 10px 0 0 10px;
  cursor: pointer;
}
.nav-links-styling
{
  color : black;
}
.nav-links-styling-active
{
  color : black;

}
.nav-links-styling:hover
{
  color : #C0C0C0;
}
.nav-links-styling-active:hover
{
  color : #f6f6f6;
}


.links
{
  display:flex;
  padding-right : 20px;
}
.upper-boxes
{
  margin : 10px 10px 10px 0;
  padding : 1em;
  background-color : lightseagreen;
  width : 20%;
}
.upper-boxes:nth-child(1)
{
  margin-left : 10px ;
}

h3
{
  text-align: center;
}
.lower-boxes
{
  margin : 10px 10px 10px 0;
  padding : 1em;
  background-color : lightseagreen;
  width : 46.5%;
}
.lower-boxes:nth-child(1)
{
  margin-left : 10px ;
}
a
{
  text-decoration: none;
  color : blue;
}
a:hover
{
  color : #1C4E80;
}

.upper-box
{
  display : flex;
  justify-content: space-around;
}
.lower-box
{
  display : flex;
  justify-content: space-around;
  width : 100%;
}
.posts
{
  padding : 1em;
  font-size: 1.2em;
}
.heading 
{
  font-size: 1.3em;
  color : black;
  margin-top: 0;
  margin-bottom : 30px;
  text-align: center;
}
.heading-bottom
{
  padding : 1em 1em 1em 0;
  font-size: 1.4em;
  color : black;
}
canvas{
  max-width:600px !important;
  min-height:320px !important;
}



/* posts pages styling */

.none-found
{
  text-align: center;
  padding : 1em;
  color : black;
}

.posts-container
{
  display : flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.posts-container:nth-child(1n)
{
  margin-left: 10px;
}
.post-boxes
{
  margin : 10px 10px 10px 0;
  padding : 1em;
  background-color : lightseagreen;
  width : 45vw;
}

.post-posts
{
  padding : 5px;
  font-size: 1em;
}
#long-meta
{
  height : 89%;
}

@media(max-width : 1000px)
{
  .post-boxes
  {
    width : 44vw;
  }
}
@media(max-width : 800px)
{
  .post-boxes
  {
    width : 92vw;
    margin-right : 0;
  }
   }

@media(max-width : 800px)
{
  .post-boxes
  {
    width : 90vw;
  }
}
@media(max-width : 500px)
{
  .post-boxes
  {
    width : 88vw;
  }
}
@media(max-width : 400px)
{
  .post-boxes
  {
    width : 85vw;
  }
  }
/* pages styling */
.pages-container
{
  display : flex;
}

.pages-boxes
{
  margin : 10px 10px 10px 0;
  padding : 1em;
  background-color : lightseagreen;
  width : 35vw;
  word-wrap: break-word; 
}
.pages-upper-box
{
    width : 20vw;
    margin : 10px;
    padding : 1em;
    background-color : lightseagreen;  
}

.pages-posts
{
  padding : 5px;
  font-size: 1em;
}

.pages-heading 
{
  font-size: 1.3em;
  color :black;
  margin-top: 0;
  margin-bottom : 30px;
}

@media(max-width : 667px)
{
  .pages-container
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pages-boxes
  {
    margin : 10px 10px 10px 10px;
    width : 94vw;
    padding : 0;
  }
  .pages-upper-box
  {
    width : 89vw;
  }
  .pages-heading 
  {
    font-size: 1.2em;
    color :black;
  }

}  
@media(max-width : 510px)
{
  .pages-upper-box
  {
    width : 87vw;
  }

}
@media(max-width : 450px)
{
  .pages-upper-box
  {
    width : 86vw;
  }

}
@media(max-width : 350px)
{
  .pages-upper-box
  {
    width : 84vw;
  }

}


@media(max-width : 1000px)
{
  .lower-box
  {
    flex-direction: column;
  }
  .heading-bottom
  {
    padding : 1em;
  }
  .lower-boxes
  {
    width : 97.5%;
    padding : 0;
  }
  .lower-boxes:nth-child(1)
  {
    margin-left : 10px;
  }

  .lower-boxes:nth-child(2)
  {
    margin-left: 10px;
  }
}

@media(max-width : 650px)
{
  .upper-box
  {
    flex-wrap: wrap;
  }
  .upper-boxes
  {
    width : 40%;
  }
  .upper-boxes:nth-child(3)
  {
    margin-left: 10px;
  }
  .lower-boxes{
    width : 95%;
  }
}
@media(max-width : 475px)
{
  .upper-boxes
  {
    width : 90%;
  }
  .upper-boxes:nth-child(2), .upper-boxes:nth-child(4)
  {
    margin-left: 10px;
  }
  .posts
  {
    padding : 0.7em;
    font-size: 1em;
  }
  }
